<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<link rel="stylesheet" href="/css/module.css">
<link rel="stylesheet" href="/css/page/event-attendee.css">
<title>タイトル</title>
</head>
<body>
<div class="l-wrapper-contents">
<header class="l-header">
  <div class="l-header-inner">
    <a href="/" class="l-header-logo">
      <img src="/images/shared/logo.svg" class="l-header-image" alt="つながるーム">
    </a>
    <nav class="l-header-nav">
      <a href="/groups" class="l-header-menu-group">グループ</a>
      <a href="/user/1/events" class="l-header-menu-event">イベント</a>
      <a href="/calendars" class="l-header-menu-calendar">カレンダー</a>
      <a href="/favorites" class="l-header-menu-favorite">お気に入り</a>
      <a href="/logout" class="l-header-menu-logout">ログアウト</a>
      <a href="/users/new" class="l-header-menu-new">新規登録</a>
      <a href="/login" class="l-header-menu-login">ログイン</a>
    </nav>
  </div>
</header>

<div class="l-contents">
<main class="l-main">
  <div class="p-event-attendee-container">

    <h1 class="c-hdg1">イベント</h1>

    <h2 class="c-hdg2 p-event-attendee-hdg2">参加中のイベント</h2>

    <div class="p-event-attendee-list">
      <div class="p-event-attendee-item">
        <a href="" class="p-event-attendee-link">
          <div class="p-event-attendee-image">
            <img src="/images/img-event2.jpg" class="p-event-attendee-thumb" alt="">
          </div>
          <div class="p-event-attendee-name">インド気分に浸れる♪本格ボリウッドダンサー サニーシンのダンスショー</div>
        </a>
      </div>
      <div class="p-event-attendee-item">
        <a href="" class="p-event-attendee-link">
          <div class="p-event-attendee-image">
            <img src="/images/img-event2.jpg" class="p-event-attendee-thumb" alt="">
          </div>
          <div class="p-event-attendee-name">スペインフェアでスペイン満喫</div>
        </a>
      </div>
    </div>

  </div>
</main>
</div>
</div>
</body>
</html>