<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<link rel="stylesheet" href="/css/module.css">
<title>タイトル</title>
</head>
<body>
<div class="l-wrapper-contents">
<header class="l-header">
  <div class="l-header-inner">
    <a href="/" class="l-header-logo">
      <img src="/images/shared/logo.svg" class="l-header-image" alt="つながるーム">
    </a>
    <nav class="l-header-nav">
      <a href="/groups" class="l-header-menu-group">グループ</a>
      <a href="/calendars" class="l-header-menu-calendar">カレンダー</a>
      <a href="/favorites" class="l-header-menu-favorite">お気に入り</a>
      <a href="/logout" class="l-header-menu-logout">ログアウト</a>
      <a href="/users/new" class="l-header-menu-new">新規登録</a>
      <a href="/login" class="l-header-menu-login">ログイン</a>
    </nav>
  </div>
</header>

<div class="l-contents">
<main class="l-main">
  <div class="p-event-box">

    <section class="p-sec-login">
      <h2 class="p-event-hdg2">イベントをシェアして<wbr>仲間を作ろう</h2>

      <div class="c-btn-login">
        <a class="c-btn-submit u-mb-0" href="">新規登録</a>
        <a class="c-btn-submit u-mb-0" href="">ログイン</a>
      </div>
    </section>

    <section class="p-sec-event">
      <h2 class="c-hdg2">ピックアップイベント</h2>

      <div class="c-event">
        <div class="c-event-item">
          <a href="" class="c-event-link">
            <div class="c-event-image">
              <img src="/images/img-event1.jpg" class="c-event-thumb" alt="">
            </div>
            <div class="c-event-text">
              <p class="c-event-title">スペインフェアでスペイン満喫</p>
              <p class="c-event-date">2024年11月08日</p>
              <p class="c-event-group">原宿でコーヒーを楽しむ会</p>
            </div>
          </a>
          <div class="c-event-favorite">
            <a rel="nofollow" class="c-event-btn-favorite on convert" data-method="delete" href="/favorite?event_id=1">お気に入り済み</a>
            <a rel="nofollow" class="c-event-btn-favorite convert" data-method="post" href="/favorite?event_id=1">お気に入り</a>
            <span class="c-event-favorite-count">0</span>
          </div>
        </div>

        <div class="c-event-item">
          <a href="" class="c-event-link">
            <div class="c-event-image">
              <img src="/images/img-event1.jpg" class="c-event-thumb" alt="">
            </div>
            <div class="c-event-text">
              <p class="c-event-title">スペインフェアでスペイン満喫</p>
              <p class="c-event-date">2024年11月08日</p>
              <p class="c-event-group">原宿でコーヒーを楽しむ会</p>
            </div>
          </a>
        </div>

        <div class="c-event-item">
          <a href="" class="c-event-link">
            <div class="c-event-image">
              <img src="/images/img-event1.jpg" class="c-event-thumb" alt="">
            </div>
            <div class="c-event-text">
              <p class="c-event-title">スペインフェアでスペイン満喫</p>
              <p class="c-event-date">2024年11月08日</p>
              <p class="c-event-group">原宿でコーヒーを楽しむ会</p>
            </div>
          </a>
        </div>

        <div class="c-event-item">
          <a href="" class="c-event-link">
            <div class="c-event-image">
              <img src="/images/img-event1.jpg" class="c-event-thumb" alt="">
            </div>
            <div class="c-event-text">
              <p class="c-event-title">スペインフェアでスペイン満喫</p>
              <p class="c-event-date">2024年11月08日</p>
              <p class="c-event-group">原宿でコーヒーを楽しむ会</p>
            </div>
          </a>
        </div>
      </div>
    </section>
  
  </div>
</main>
</div>
</div>


  
</body>
</html>