<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<link rel="stylesheet" href="/css/module.css">
<link rel="stylesheet" href="/css/page/event-detail.css">
<title>タイトル</title>
</head>
<body>
<div class="l-wrapper-contents">
<header class="l-header">
  <div class="l-header-inner">
    <a href="/" class="l-header-logo">
      <img src="/images/shared/logo.svg" class="l-header-image" alt="つながるーム">
    </a>
    <nav class="l-header-nav">
      <a href="/groups" class="l-header-menu-group">グループ</a>
      <a href="/calendars" class="l-header-menu-calendar">カレンダー</a>
      <a href="/favorites" class="l-header-menu-favorite">お気に入り</a>
      <a href="/logout" class="l-header-menu-logout">ログアウト</a>
      <a href="/users/new" class="l-header-menu-new">新規登録</a>
      <a href="/login" class="l-header-menu-login">ログイン</a>
    </nav>
  </div>
</header>

<div class="l-contents">
<main class="l-main">
  <div class="p-event-container">

    <div class="p-event-head">
      <div class="p-event-visual">
        <img src="/images/img-event2.jpg" class="p-event-thumb" alt="">
      </div>
      <div class="p-event-summary">
        <div class="p-event-text">
          <h1 class="p-event-title">インド気分に浸れる♪本格ボリウッドダンサー サニーシンのダンスショー</h1>
          <p class="p-event-group">主催: インドダンス協会</p>
        </div>

        <div class="p-event-action">
          <button type="button" class="p-btn-favorite">お気に入り</button>
          <button type="button" class="p-btn-favorite on">お気に入り済み</button>
          <button type="button" class="p-btn-share">Xでシェア</button>
        </div>
      </div>
    </div>

    <div class="p-event-main">
      <div class="p-event-info">
        <div class="p-event-info-item">
          <h2 class="p-event-detail-hdg2 c-hdg2">日時</h2>
          <p class="p-event-info-text">2024年11月08日<br>19:00 - 21:00</p>
        </div>
        <div class="p-event-info-item">
          <h2 class="p-event-detail-hdg2 c-hdg2">場所</h2>
          <p class="p-event-info-text">東京都渋谷区神南1-2-3</p>
        </div>
        <div class="p-event-info-item">
          <h2 class="p-event-detail-hdg2 c-hdg2">参加者</h2>
          <ul class="p-event-attendee-list">
            <li class="p-event-attendee-item">
              <div class="p-event-attendee-head">
                <div class="p-event-attendee-usericon">
                  <img src="/images/shared/img-defalt-user.png" class="p-event-attendee-image" alt="">
                </div>
                <p class="p-event-attendee-name">ユーザー</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="p-event-contents">
        <h2 class="p-event-detail-hdg2 c-hdg2">イベント詳細</h2>
        <p class="p-event-desc">イベント詳細イベント詳細イベント詳細イベント詳細イベント詳細イベント詳細イベント詳細イベント詳細イベント詳細イベント詳細イベント詳細イベント詳細</p>
      
        <div class="p-event-map">
          <img src="/images/img-map1.png" class="p-event-comment-map-image" alt="">
        </div>

        <div class="p-event-comment">
          <h2 class="p-event-detail-hdg2 c-hdg2">コメント</h2>
          <div class="p-event-comment-post">
            <a href="" class="c-btn-submit p-event-submit u-mb-0">コメントを投稿</a>
          </div>
          <ul class="p-event-comment-list">
            <li class="p-event-comment-item">
              <div class="p-event-comment-head">
                <div class="p-event-comment-usericon">
                  <img src="/images/shared/img-defalt-user.png" class="p-event-comment-image" alt="">
                </div>
                <p class="p-event-comment-name">アヌシュカ</p>
              </div>
              <p class="p-event-comment-content">コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント</p>
            </li>
          </ul>

        </div>
      
      </div>

    </div>
  </div>

  <div class="p-event-entry">
    <button type="button" class="c-btn-submit p-event-submit u-mb-0">参加する</button>
  </div>
</main>
</div>
<footer class="l-footer">
  <nav class="l-footer-nav">
    <a href="/groups" class="l-footer-menu">グループ</a>
    <a href="/calendars" class="l-footer-menu">カレンダー</a>
    <a href="/favorites" class="l-footer-menu">お気に入り</a>
    <a href="/logout" class="l-footer-menu">ログアウト</a>
    <a href="/users/new" class="l-footer-menu">新規登録</a>
    <a href="/login" class="l-footer-menu">ログイン</a>
  </nav>
  <p class="l-footer-name"><small>つながるーム</small></p>
</footer>
<nav class="l-footer-bottom-nav">
  <a href="/groups" class="l-footer-bottom-menu-group">グループ</a>
  <a href="/calendars" class="l-footer-bottom-menu-calendar">カレンダー</a>
  <a href="/favorites" class="l-footer-bottom-menu-favorite">お気に入り</a>
  <a href="/logout" class="l-footer-bottom-menu-logout">ログアウト</a>
  <a href="/users/new" class="l-footer-bottom-menu-new">新規登録</a>
  <a href="/login" class="l-footer-bottom-menu-login">ログイン</a>
</nav>
</div>


  
</body>
</html>