<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<link rel="stylesheet" href="/css/module.css">
<link rel="stylesheet" href="/css/page/group-detail.css">
<title>タイトル</title>
</head>
<body>
<div class="l-wrapper-contents">
<header class="l-header">
  <div class="l-header-inner">
    <a href="/" class="l-header-logo">
      <img src="/images/shared/logo.svg" class="l-header-image" alt="つながるーム">
    </a>
    <nav class="l-header-nav">
      <a href="/groups" class="l-header-menu-group">グループ</a>
      <a href="/calendars" class="l-header-menu-calendar">カレンダー</a>
      <a href="/favorites" class="l-header-menu-favorite">お気に入り</a>
      <a href="/logout" class="l-header-menu-logout">ログアウト</a>
      <a href="/users/new" class="l-header-menu-new">新規登録</a>
      <a href="/login" class="l-header-menu-login">ログイン</a>
    </nav>
  </div>
</header>

<div class="l-contents">
<main class="l-main">
  <div class="p-group-detail-container">

    <div class="p-group-detail-profile">
      <div class="p-group-detail-profile-inner">
        <div class="p-group-detail-profile-image">
          <img src="/images/shared/img-defalt-user.png" class="p-group-detail-profile-thumb" alt="">
        </div>
        <div class="p-group-detail-profile-text">
          <h2 class="p-group-detail-profile-name">日本インドダンス協会</h2>
          <p class="p-group-detail-profile-organizer">主催: アディティヤ・ナヤラン (Aditya Nayaran)</p>
          <!-- <p class="p-group-detail-profile-follower">フォロワー数: 1000人</p> -->
        </div>

        <p class="p-group-detail-profile-desc">紹介文テキストテキストテキスト</p>
        
        <a href="" class="p-group-detail-profile-btn c-btn-submit u-mb-0">グループを編集</a>
      </div>
    </div>

    <section class="p-sec-event">
      <h2 class="c-hdg2">ピックアップイベント</h2>

      <div class="c-event">
        <div class="c-event-item">
          <a href="" class="c-event-link">
            <div class="c-event-image">
              <img src="/images/img-event1.jpg" class="c-event-thumb" alt="">
            </div>
            <div class="c-event-text">
              <p class="c-event-title">スペインフェアでスペイン満喫</p>
              <p class="c-event-date">2024年11月08日</p>
              <p class="c-event-group">原宿でコーヒーを楽しむ会</p>
            </div>
          </a>
        </div>

        <div class="c-event-item">
          <a href="" class="c-event-link">
            <div class="c-event-image">
              <img src="/images/img-event1.jpg" class="c-event-thumb" alt="">
            </div>
            <div class="c-event-text">
              <p class="c-event-title">スペインフェアでスペイン満喫</p>
              <p class="c-event-date">2024年11月08日</p>
              <p class="c-event-group">原宿でコーヒーを楽しむ会</p>
            </div>
          </a>
        </div>

        <div class="c-event-item">
          <a href="" class="c-event-link">
            <div class="c-event-image">
              <img src="/images/img-event1.jpg" class="c-event-thumb" alt="">
            </div>
            <div class="c-event-text">
              <p class="c-event-title">スペインフェアでスペイン満喫</p>
              <p class="c-event-date">2024年11月08日</p>
              <p class="c-event-group">原宿でコーヒーを楽しむ会</p>
            </div>
          </a>
        </div>

        <div class="c-event-item">
          <a href="" class="c-event-link">
            <div class="c-event-image">
              <img src="/images/img-event1.jpg" class="c-event-thumb" alt="">
            </div>
            <div class="c-event-text">
              <p class="c-event-title">スペインフェアでスペイン満喫</p>
              <p class="c-event-date">2024年11月08日</p>
              <p class="c-event-group">原宿でコーヒーを楽しむ会</p>
            </div>
          </a>
        </div>
      </div>
    </section>
  
  </div>
</main>
</div>
</div>


  
</body>
</html>