<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<link rel="stylesheet" href="/css/module.css">
<title>タイトル</title>
</head>
<body>
<div class="l-wrapper-contents">
<header class="l-header">
  <div class="l-header-inner">
    <a href="/" class="l-header-logo">
      <img src="/images/shared/logo.svg" class="l-header-image" alt="つながるーム">
    </a>
    <nav class="l-header-nav">
      <a href="/groups" class="l-header-menu-group">グループ</a>
      <a href="/calendars" class="l-header-menu-calendar">カレンダー</a>
      <a href="/favorites" class="l-header-menu-favorite">お気に入り</a>
      <a href="/logout" class="l-header-menu-logout">ログアウト</a>
      <a href="/users/new" class="l-header-menu-new">新規登録</a>
      <a href="/login" class="l-header-menu-login">ログイン</a>
    </nav>
  </div>
</header>
<div class="l-wrapper-contents">
<!-- <div class="alert c-alert alert-danger" role='alert'>
<span>メッセージ</span>
</div> -->
<div class="l-contents">
<main class="l-main">
  <div class="c-form-container">
    <h1 class="c-hdg1">新規登録</h1>
    <div class="c-form">
      <div class="c-form-item">
        <div class="c-form-label-box">
          <label for="name" class="c-form-label">名前</label>
        </div>
        <div class="c-form-input-wrap" data-resize-wrap>
          <div class="c-form-input-box" data-resize-box>
            <input id="name" maxlength="100" type="text" class="c-form-input" placeholder="" data-resize="true" value="">
          </div>
        </div>
      </div>
      <div class="c-form-item">
        <div class="c-form-label-box">
          <label for="email" class="c-form-label">メールアドレス</label>
        </div>
        <div class="c-form-input-wrap" data-resize-wrap>
          <div class="c-form-input-box" data-resize-box>
            <input id="email" maxlength="100" type="text" class="c-form-input" placeholder="20文字以内" data-resize="true" value="">
          </div>
        </div>
      </div>
      <div class="c-form-item">
        <div class="c-form-label-box">
          <label for="password" class="c-form-label">パスワード</label>
        </div>
        <div class="c-form-input-wrap" data-resize-wrap>
          <div class="c-form-input-box" data-resize-box>
            <input id="password" maxlength="100" type="text" class="c-form-input" placeholder="20文字以内" data-resize="true" value="">
          </div>
        </div>
      </div>
      <div class="c-form-item">
        <div class="c-form-label-box">
          <label for="password-confirm" class="c-form-label">パスワード（確認用）</label>
        </div>
        <div class="c-form-input-wrap" data-resize-wrap>
          <div class="c-form-input-box" data-resize-box>
            <input id="password-confirm" maxlength="100" type="text" class="c-form-input" placeholder="20文字以内" data-resize="true" value="">
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="c-btn-submit">新規登録</button>
  
  </div>
</main>
</div>
</div>



</body>
</html>