<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title>つながルーム</title>
</head>
<body>
<div class="p-start-box" layout:fragment="contents">

  <h2 class="p-start-hdg2" th:utext="#{pages.index.lead}">イベントをシェアして<wbr>仲間を作ろう</h2>

  <div class="c-btn-login">
    <a href="/users/new" class="c-btn-submit u-mb-0" th:text="#{pages.index.signup}">新規登録</a>
    <a href="/login" class="c-btn-submit u-mb-0" th:text="#{pages.index.login}">ログイン</a>
  </div>

</div>
</body>
</html>