<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<link rel="stylesheet" href="/css/module.css">
<title>タイトル</title>
</head>
<body>
<div class="l-wrapper-contents">
<div class="l-contents">
<main class="l-main">
  <div class="p-login-box">
    <h1 class="c-hdg1">コメント投稿</h1>
    <div class="c-form">
      <div class="c-form-item">
        <div class="c-form-label-box">
          <label for="group-description" class="c-form-label">コメント</label>
        </div>
        <div class="c-form-textarea-wrap" data-resize-wrap>
          <div class="c-form-textarea-box" data-resize-box>
            <textarea id="group-description" maxlength="200" class="c-form-textarea" rows="2" placeholder="" data-resize="true" oninput=""></textarea>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="c-btn-submit">投稿する</button>
  </div>
</main>
</div>
</div>

  
</body>
</html>