<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<link rel="stylesheet" href="/css/module.css">
<link rel="stylesheet" href="/css/page/mypage.css">
<title>タイトル</title>
</head>
<body>
<div class="l-wrapper-contents">
<div class="l-contents">
<main class="l-main">
  <div class="p-mypage-container">

    <div class="p-mypage-hdg2-box">
      <h2 class="p-mypage-hdg2 c-hdg2">グループ</h2>
      <a class="p-mypage-group-btn c-btn-submit u-mb-0" href="">グループを作成</a>
    </div>

    <div class="p-mypage-main">
      <div class="p-mypage-group">
        <div class="p-mypage-group-head">
          <div class="p-mypage-group-image">
            <img src="/images/shared/img-defalt-user.png" class="p-mypage-group-thumb" alt="">
          </div>
          <div class="p-mypage-group-name">日本インドダンス協会</div>
          <a href="" class="p-mypage-event-btn c-btn-submit u-mb-0">イベントを作成</a>
        </div>

        <div class="p-mypage-group-event">
          <div class="p-mypage-event">
            <div class="p-mypage-event-item">
              <a href="" class="p-mypage-event-link">
                <div class="p-mypage-event-image">
                  <img src="/images/img-event2.jpg" class="p-mypage-event-thumb" alt="">
                </div>
                <div class="p-mypage-event-name">インド気分に浸れる♪本格ボリウッドダンサー サニーシンのダンスショー</div>
                <div class="p-mypage-event-update u-mb-0">更新</div>
              </a>
            </div>
            <div class="p-mypage-event-item">
              <a href="" class="p-mypage-event-link">
                <div class="p-mypage-event-image">
                  <img src="/images/img-event2.jpg" class="p-mypage-event-thumb" alt="">
                </div>
                <div class="p-mypage-event-name">スペインフェアでスペイン満喫</div>
                <div class="p-mypage-event-update u-mb-0">更新</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</div>
</div>
</body>
</html>