<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<link rel="stylesheet" href="/css/module.css">
<title>タイトル</title>
</head>
<body>
<div class="l-wrapper-contents">
<div class="l-contents">
<main class="l-main">
  <div class="p-new-box">
    <h1 class="c-hdg1">新規登録</h1>
    <div class="c-form">
      <div class="c-form-item">
        <div class="c-form-label-box">
          <label for="name" class="c-form-label">名前</label>
        </div>
        <div class="c-form-input-wrap" data-resize-wrap>
          <div class="c-form-input-box" data-resize-box>
            <input id="name" maxlength="100" type="text" class="c-form-input" placeholder="" data-resize="true" value="">
          </div>
        </div>
      </div>
      <div class="c-form-item">
        <div class="c-form-label-box">
          <label for="email" class="c-form-label">メールアドレス</label>
        </div>
        <div class="c-form-input-wrap" data-resize-wrap>
          <div class="c-form-input-box" data-resize-box>
            <input id="email" maxlength="100" type="text" class="c-form-input" placeholder="20文字以内" data-resize="true" value="">
          </div>
        </div>
      </div>
      <div class="c-form-item">
        <div class="c-form-label-box">
          <label for="password" class="c-form-label">パスワード</label>
        </div>
        <div class="c-form-input-wrap" data-resize-wrap>
          <div class="c-form-input-box" data-resize-box>
            <input id="password" maxlength="100" type="text" class="c-form-input" placeholder="20文字以内" data-resize="true" value="">
          </div>
        </div>
      </div>
      <div class="c-form-item">
        <div class="c-form-label-box">
          <label for="password-confirm" class="c-form-label">パスワード（確認用）</label>
        </div>
        <div class="c-form-input-wrap" data-resize-wrap>
          <div class="c-form-input-box" data-resize-box>
            <input id="password-confirm" maxlength="100" type="text" class="c-form-input" placeholder="20文字以内" data-resize="true" value="">
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="c-btn-submit">新規登録</button>
  
  </div>
</main>
</div>
</div>



</body>
</html>