<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<link rel="stylesheet" href="/css/page/event-detail.css" th:href="@{/css/page/event-detail.css}">
<title>つながルーム</title>
<script defer th:src="|https://maps.googleapis.com/maps/api/js?key=${@environment.getProperty('googlemap.client.key')}&callback=initMap|"></script>
<style>
  .map {
    width: 100%;
    height: 400px;
  }
</style>
</head>
<body>
<div class="p-event-container" layout:fragment="contents">
  
  <div class="p-event-head">
    <div class="p-event-visual">
      <img src="" th:if="${@environment.getProperty('image.local')}" th:src="${event.imageData}" class="p-event-thumb" />
      <img src="" th:unless="${@environment.getProperty('image.local')}" th:src="${event.path}" class="p-event-thumb" />
    </div>
    <div class="p-event-summary">
      <div class="p-event-text">
        <h1 class="p-event-title" th:text="${event.title}"></h1>
        <p class="p-event-group">主催: <span th:text="${event.group.name}"></span></p>
      </div>

      <div class="p-event-action">
        <button type="button" class="p-btn-favorite">お気に入り</button>
        <button type="button" class="p-btn-share">Xでシェア</button>
      </div>
    </div>
  </div>
  
  <div class="p-event-main">
    <div class="p-event-info">
      <div class="p-event-info-item">
        <p class="p-event-info-label">日時</p>
        <!-- <p class="p-event-info-text">2024年11月08日 19:00〜21:00</p> -->
        <p class="p-event-info-text">
          <span th:text="${event.date}"></span>
          <span th:text="${event.startTime}"></span>
          <span th:text="${event.endTime}"></span>
        </p>
      </div>
      <div class="p-event-info-item">
        <p class="p-event-info-label">開催場所</p>
        <p class="p-event-info-text" th:text="${event.address}"></p>
      </div>
    </div>

    <div class="p-event-contents">
      <p class="p-event-desc" th:text="${event.description}"></p>
      <div th:if="${event.latitude != null and event.longitude != null}">
        <div class="p-event-map">
          <!-- <img src="/images/img-map1.png" th:src="@{/images/img-map1.png}" class="p-event-comment-map-image" alt=""> -->
          <div class="map" th:id="|map${event.id}|"></div>
        </div>
      </div>

      <div class="p-event-comment">
        <h2 class="p-event-comment-hdg2 c-hdg2">コメント</h2>
        <ul class="p-event-comment-list">
          <li class="p-event-comment-item" th:each="comment : ${event.comments}">
            <div class="p-event-comment-head">
              <div class="p-event-comment-usericon">
                <img src="/images/shared/img-defalt-user.png" th:src="@{/images/shared/img-defalt-user.png}" class="p-event-comment-image" alt="">
              </div>
              <p class="p-event-comment-name" th:text="${comment.user.name}"></p>
            </div>
            <p class="p-event-comment-content" th:text="${comment.description}"></p>
          </li>
        </ul>
        
        <div class="p-event-comment-post">
          <a href="/events/1/comments/new" th:href="@{'/events/{id}/comments/new'(id=${event.id})}" class="c-btn-submit p-event-submit u-mb-0" th:data-_csrf="${_csrf.token}">コメントを投稿</a>
        </div>
      </div>
    </div>
  </div>
  <div class="p-event-entry">
    <div th:if="${isAdmin}">
      <p>グループ管理者の場合はイベントに参加済みです</p>
    </div>
    <div th:if="${!isAdmin}">
      <p>グループ管理者以外の場合は参加するボタンを表示します</p>
      <button type="button" class="c-btn-submit p-event-submit u-mb-0">参加する</button>
    </div>
  </div>
</div>
<div layout:fragment="scripts">
  <script th:inline="javascript">
  function initMap() {
      /*[# th:if="${event.latitude != null and event.longitude != null}"]*/
        let map;
        const latlng = { lat: [[${event.latitude}]], lng: [[${event.longitude}]] };
        map = new google.maps.Map(document.getElementById("map[[${event.id}]]"), {
            center: latlng,
            zoom: 15,
        });
        
        new google.maps.Marker({
            position: latlng,
            map: map,
        });
      /*[/]*/
  }
  </script>
</div>
</body>
</html>