<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<link rel="stylesheet" href="/css/page/event-detail.css" th:href="@{/css/page/event-detail.css}">
<title>つながルーム</title>
</head>
<body>
<div class="p-event-container" layout:fragment="contents">
  
  <div class="p-event-head">
    <div class="p-event-visual">
      <img src="/images/img-event2.jpg" th:src="@{/images/img-event2.jpg}" class="p-event-thumb" alt="">
    </div>
    <div class="p-event-summary">
      <div class="p-event-text">
        <h1 class="p-event-title" th:text="${event.title}"></h1>
        <p class="p-event-group">主催: <span th:text="${event.group.name}"></span></p>
      </div>

      <div class="p-event-action">
        <button type="button" class="p-btn-favorite">お気に入り</button>
        <button type="button" class="p-btn-share">Xでシェア</button>
      </div>
    </div>
  </div>
  
  <div class="p-event-main">
    <div class="p-event-info">
      <div class="p-event-info-item">
        <p class="p-event-info-label">日時</p>
        <!-- <p class="p-event-info-text">2024年11月08日 19:00〜21:00</p> -->
        <p class="p-event-info-text">
          <span th:text="${event.date}"></span>
          <span th:text="${event.startTime}"></span>
          <span th:text="${event.endTime}"></span>
        </p>
      </div>
      <div class="p-event-info-item">
        <p class="p-event-info-label">場所</p>
        <p class="p-event-info-text">東京都渋谷区神南1-2-3</p>
      </div>
    </div>

    <div class="p-event-contents">
      <p class="p-event-desc" th:text="${event.description}"></p>
    
      <div class="p-event-map">
        <img src="/images/img-map1.png" th:src="@{/images/img-map1.png}" class="p-event-comment-map-image" alt="">
      </div>

      <div class="p-event-comment">
        <h2 class="p-event-comment-hdg2 c-hdg2">コメント</h2>
        <ul class="p-event-comment-list">
          <li class="p-event-comment-item">
            <div class="p-event-comment-head">
              <div class="p-event-comment-usericon">
                <img src="/images/shared/img-defalt-user.png" th:src="@{/images/shared/img-defalt-user.png}" class="p-event-comment-image" alt="">
              </div>
              <p class="p-event-comment-name">コメント主</p>
            </div>
            <p class="p-event-comment-content">コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント</p>
          </li>
        </ul>
        <div class="p-event-comment-post">
          <a href="" class="c-btn-submit p-event-submit u-mb-0">コメントを投稿</a>
        </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>