<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<title>つながルーム</title>
<script defer th:src="|https://maps.googleapis.com/maps/api/js?key=${@environment.getProperty('googlemap.client.key')}&callback=initialize|"></script>
<style>
  #map_canvas {
    width: 100%;
    height: 400px;
  }
</style>
</head>
<body>
<div class="p-login-box" layout:fragment="contents">

  <h1 class="c-hdg1">イベント作成</h1>
  
  <form method="post" th:action="@{/groups/{groupId}/events(groupId=${groupId})}" th:object="${form}" enctype="multipart/form-data">
    <div layout:replace="~{layouts/common::messages}"></div>
    <div class="c-form">
      <div class="c-form-item">
        <div class="c-form-label-box">
          <label for="event-title" class="c-form-label">イベント名</label>
        </div>
        <div class="c-form-input-wrap">
          <div class="c-form-input-box">
            <input id="event-title" type="text" class="c-form-input" th:field="*{title}" />
          </div>
        </div>
        <p th:if="${#fields.hasErrors('title')}" class="c-form-error" th:errors="*{title}"></p>
      </div>
      <div class="c-form-item">
        <div class="c-form-label-box">
          <label for="event-description" class="c-form-label">イベントの説明</label>
        </div>
        <div class="c-form-textarea-wrap">
          <div class="c-form-textarea-box">
            <textarea id="event-description" class="c-form-textarea" th:field="*{description}"></textarea>
          </div>
        </div>
        <p th:if="${#fields.hasErrors('description')}" class="c-form-error" th:errors="*{description}"></p>
      </div>
      <div class="c-form-item">
        <div class="c-form-label-box">
          <label for="event-date" class="c-form-label">開催日</label>
        </div>
        <div class="c-form-input-wrap">
          <div class="c-form-input-box">
            <input id="event-date" type="text" class="c-form-input" th:field="*{date}" />
          </div>
        </div>
        <p th:if="${#fields.hasErrors('date')}" class="c-form-error" th:errors="*{date}"></p>
      </div>
      <div class="c-form-item">
        <div class="c-form-label-box">
          <label for="start-time" class="c-form-label">開始時間</label>
        </div>
        <div class="c-form-input-wrap">
          <div class="c-form-input-box">
            <input id="start-time" type="time" class="c-form-input" th:field="*{startTime}" />
          </div>
        </div>
        <p th:if="${#fields.hasErrors('startTime')}" class="c-form-error" th:errors="*{startTime}"></p>
      </div>
      <div class="c-form-item">
        <div class="c-form-label-box">
          <label for="end-time" class="c-form-label">終了時間</label>
        </div>
        <div class="c-form-input-wrap">
          <div class="c-form-input-box">
            <input id="end-time" type="time" class="c-form-input" th:field="*{endTime}" />
          </div>
        </div>
        <p th:if="${#fields.hasErrors('endTime')}" class="c-form-error" th:errors="*{endTime}"></p>
      </div>
      <div class="c-form-item">
        <div class="c-form-label-box">
          <label for="image" class="c-form-label">画像</label>
        </div>
        <input id="image" type="file" class="c-form-file" th:field="*{image}" />
        <p th:if="${#fields.hasErrors('image')}" class="c-form-error" th:errors="*{image}"></p>
      </div>
      
      <div class="c-form-item">
        <div class="c-form-label-box">
          <label for="address" class="c-form-label">開催場所の住所</label>
        </div>
        <input id="address" type="text" class="c-form-input" th:field="*{address}" />
        <p th:if="${#fields.hasErrors('address')}" class="c-form-error" th:errors="*{address}"></p>
      </div>
      
      <div id="map_canvas"></div>

      <input type="hidden" id="latitude" th:field="*{latitude}" />
      <input type="hidden" id="longitude" th:field="*{longitude}" />
    </div>
    <button type="submit" class="c-btn-submit">作成する</button>
  </form>

</div>
<div layout:fragment="scripts">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
  <script>
      flatpickr('#event-date', {
          locale: 'ja',
          dateFormat: 'Y-m-d',
          minDate: tomorrow(),
          maxDate: new Date().fp_incr(30),
      });
      
      function tomorrow() {
          var currentDate = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
          var year = currentDate.getFullYear();
          var month = String(currentDate.getMonth() + 1).padStart(2, '0');
          var day = String(currentDate.getDate()).padStart(2, '0');

          return year + "-" + month + "-" + day;
      }
    
      const setting = {
          locale: "ja",
          enableTime: true,
          noCalendar: true,
          dateFormat: "H:i",
          time_24hr: true
      };
    
      flatpickr("#start-time", setting);
      flatpickr("#end-time", setting);
      
  </script>
  <script>
    let geocoder;
    let map;

    function initialize() {
      geocoder = new google.maps.Geocoder();
      const initialLatlng = { lat: 35.6895, lng: 139.6917 }; // 初期位置: 東京
      map = new google.maps.Map(document.getElementById("map_canvas"), {
        zoom: 15,
        center: initialLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
      });
    }

    function codeAddress() {
      const address = document.getElementById("address").value;
      if (geocoder && address) {
        geocoder.geocode({ address, region: "jp" }, (results, status) => {
          if (status === google.maps.GeocoderStatus.OK) {
            const location = results[0].geometry.location;
            const latitude = location.lat();
            const longitude = location.lng();
            map.setCenter(location);

            new google.maps.Marker({
              position: location,
              map: map,
            });
            
            document.getElementById("latitude").value = latitude;
            document.getElementById("longitude").value = longitude;
          } else {
            alert("住所から緯度・経度を取得できませんでした。原因: " + status);
          }
        });
      } else {
        alert("住所を入力してください。");
      }
    }
    
    document.addEventListener("DOMContentLoaded", function () {
      const addressField = document.getElementById("address");
      addressField.addEventListener("blur", codeAddress);
    });
  </script>
</div>
</body>
</html>