@charset "UTF-8";
@use "sass:math";
@use "../foundation/mixin" as *;

.l-header {
  width: 100%;
  border-bottom: 1px solid var(--neutral-gray-100);
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  .l-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - var(--gutter)* 2);
    max-width: 1024px;
    height: 40px;
    margin: 0 auto;
  }
  .l-header-logo {
    width: 120px;
    margin-right: auto;
  }
  .l-header-nav {
    display: none;
  }
  [class^=l-header-menu] {
    display: grid;
    place-items: center;
    gap: 4px;
    width: 50px;
    font-size: 10px;
    line-height: 1;
    color: var(--color-text);
    text-align: center;
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      background-color: var(--color-text);
      mask-size: contain;
      mask-position: center center;
      mask-repeat: no-repeat;
    }
    &.on {
      &::before {
        background-color: var(--color-text);
      }
    }
  }
  .l-header-menu-group {
    &::before {
      mask-image: url(~@images/shared/icon-group.svg);
    }
  }
  .l-header-menu-calendar {
    &::before {
      mask-image: url(~@images/shared/icon-calendar.svg);
    }
  }
  .l-header-menu-favorite {
    &::before {
      mask-image: url(~@images/shared/icon-favorite.svg);
    }
  }
  .l-header-menu-logout {
    &::before {
      mask-image: url(~@images/shared/icon-logout.svg);
    }
  }
  .l-header-menu-new {
    &::before {
      mask-image: url(~@images/shared/icon-user.svg);
    }
  }
  .l-header-menu-login {
    &::before {
      mask-image: url(~@images/shared/icon-login.svg);
    }
  }

  @include mq(pc) {
    .l-header-logo {
      width: 194px;
    }
    .l-header-inner {
      height: 60px;
    }
    .l-header-nav {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }
}



