@charset "UTF-8";
@use "sass:math";
@use "../foundation/mixin" as *;

.l-wrapper-contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding: 0;
  position: relative;
}
.l-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: initial;
  padding: 0;
  overflow: visible;
}
.l-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

