<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<header class="l-header" layout:fragment="header">
  <div class="l-header-inner">
    <a th:href="@{/events}" class="l-header-logo">
      つながルーム
    </a>
    <nav class="l-header-nav">
      <th:block sec:authorize="isAuthenticated()">
        <a th:href="@{/groups}" class="l-header-menu-group">グループ</a>
        <a th:href="@{/calendars}" class="l-header-menu-calendar">カレンダー</a>
        <a th:href="@{/favorites}" class="l-header-menu-favorite">お気に入り</a>
        <!-- <a th:href="@{/user}" class="l-header-menu-user">マイページ</a> -->
        <a th:href="@{/logout}" class="l-header-menu-logout convert" data-method="post" th:data-_csrf="${_csrf.token}">ログアウト</a>
      </th:block>
      <th:block sec:authorize="!isAuthenticated()">
        <a th:href="@{/users/new}" class="l-header-menu-new">新規登録</a>
        <a th:href="@{/login}" class="l-header-menu-login">ログイン</a>
      </th:block>
    </nav>
  </div>
</header>

<div id="messages" layout:fragment="messages" th:if="!${#lists.isEmpty(#fields.detailedErrors())}">
  <ul>
    <li th:each="error : ${#fields.detailedErrors()}" class="c-form-error" th:text="${error.message}" />
  </ul>
</div>

</body>
</html>