<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<link rel="stylesheet" href="/css/page/group-detail.css" th:href="@{/css/page/group-detail.css}">
<title th:text="#{groups.detail.title}">つながるーム</title>
</head>
<body>
<div class="p-group-detail-container" layout:fragment="contents">
  
  <div class="p-group-detail-profile">
    <div class="p-group-detail-profile-inner">
      <div class="p-group-detail-profile-image">
        <img src="/images/shared/img-defalt-user.png" th:src="@{/images/shared/img-defalt-user.png}" class="p-group-detail-profile-thumb" alt="">
      </div>
      <div class="p-group-detail-profile-text">
        <h2 class="p-group-detail-profile-name" th:text="${form.name}"></h2>
        <!-- <p class="p-group-detail-profile-organizer"></p> -->
      </div>

      <p class="p-group-detail-profile-desc" th:text="${form.description}"></p>
      
      <!-- <a href="" class="p-group-detail-profile-btn c-btn-submit u-mb-0">グループを編集</a> -->
    </div>
  </div>

</div>
</body>
</html>