<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<link rel="stylesheet" href="/css/page/group-detail.css" th:href="@{/css/page/group-detail.css}">
<title th:text="#{groups.detail.title}">つながるーム</title>
</head>
<body>
<div class="p-group-detail-container" layout:fragment="contents">
  
  <div class="p-group-detail-profile">
    <div class="p-group-detail-profile-inner">
      <div class="p-group-detail-profile-image">
        <img src="/images/shared/img-defalt-user.png" th:src="@{/images/shared/img-defalt-user.png}" class="p-group-detail-profile-thumb" alt="">
      </div>
      <div class="p-group-detail-profile-text">
        <h2 class="p-group-detail-profile-name" th:text="${form.name}"></h2>
      </div>

      <p class="p-group-detail-profile-desc" th:text="${form.description}"></p>
      
      <a th:href="@{/groups/{id}/edit(id=${form.id})}" class="p-group-detail-profile-btn c-btn-submit u-mb-0" th:text="#{groups.detail.edit}">グループ編集</a>
    </div>
  </div>
  
  <div class="p-group-detail-entry">
    <div th:if="${isAdmin}">
      <!-- グループ管理者の場合はグループに参加済み -->
      <button type="button" class="c-btn-submit p-group-detail-submit u-mb-0" disabled>参加済み</button>
    </div>
    <!-- グループ管理者以外の場合 -->
    <div th:if="${!isAdmin}">
      <div th:if="${isMember}">
        <!-- グループに参加済みの場合は脱退するボタンを表示 -->
        <button type="button" class="c-btn-submit p-group-detail-submit u-mb-0 convert" data-method="delete" href="/groups/1/leave" th:href="@{'/groups/{id}/leave'(id=${form.id})}" th:data-_csrf="${_csrf.token}">脱退する</button>
      </div>
      <div th:if="${!isMember}">
        <!-- グループに参加していない場合は参加するボタンを表示 -->
        <button type="button" class="c-btn-submit p-group-detail-submit u-mb-0 convert" data-method="post" href="/groups/1/join" th:href="@{'/groups/{id}/join'(id=${form.id})}" th:data-_csrf="${_csrf.token}">参加する</button>
      </div>
    </div>
  </div>

</div>
</body>
</html>