<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<link rel="stylesheet" href="/css/page/group-detail.css" th:href="@{/css/page/group-detail.css}">
<title th:text="#{groups.detail.title}">つながるーム</title>
</head>
<body>
<div class="p-group-detail-container" layout:fragment="contents">
  
  <div class="p-group-detail-profile">
    <div class="p-group-detail-profile-inner">
      <div class="p-group-detail-profile-image">
        <img src="/images/shared/img-defalt-user.png" th:src="@{/images/shared/img-defalt-user.png}" class="p-group-detail-profile-thumb" alt="">
      </div>
      <div class="p-group-detail-profile-text">
        <h2 class="p-group-detail-profile-name" th:text="${form.name}"></h2>
      </div>

      <p class="p-group-detail-profile-desc" th:text="${form.description}"></p>
      
      <a th:href="@{/groups/{id}/edit(id=${form.id})}" class="p-group-detail-profile-btn c-btn-submit u-mb-0" th:text="#{groups.detail.edit}">グループ編集</a>
    </div>
  </div>
  
  <section class="p-group-detail-sec-event">
    <h2 class="c-hdg2">ピックアップイベント</h2>
    
    <div class="c-event">
      <div class="c-event-item" th:each="event : ${events}">
        <a th:href="@{/events/{eventId}(eventId=${event.id})}" class="c-event-link">
          <div class="c-event-image">
            <img src="" th:if="${@environment.getProperty('image.local')}" th:src="${event.imageData}" class="c-event-thumb" />
            <img src="" th:unless="${@environment.getProperty('image.local')}" th:src="${event.path}" class="c-event-thumb" />
          </div>
          <div class="c-event-text">
            <p class="c-event-title" th:text="${event.title}"></p>
            <p class="c-event-date" th:text="${#temporals.format(event.date, 'yyyy年MM月dd日')}"></p>
            <p class="c-event-group" th:text="${event.group.name}"></p>
          </div>
        </a>
        
        <div class="c-event-favorite">
          <a th:if="${event.favorite != null}" rel="nofollow" class="c-event-btn-favorite on convert" data-method="delete" href="/favorite?event_id=1" th:href="@{'/favorite'}" th:data-event_id="${event.id}" th:data-_csrf="${_csrf.token}" th:text="#{events.index.favorited}">
            お気に入り済み
          </a>
          <a th:if="${event.favorite == null}" rel="nofollow" class="c-event-btn-favorite convert" data-method="post" href="/favorite?event_id=1" th:href="@{'/favorite'}" th:data-event_id="${event.id}" th:data-_csrf="${_csrf.token}" th:text="#{events.index.favorite}">
            お気に入り
          </a>
          <span class="c-event-favorite-count" th:text="${#lists.size(event.favorites)}">0</span>
        </div>
      </div>
    </div>
  </section>
  
  <section class="p-group-detail-sec-member">
    <h2 class="c-hdg2">グループメンバー</h2>
    
    <ul class="p-group-detail-member-list">
      <li class="p-group-detail-member-item" th:each="member : ${members}">
        <div class="p-group-detail-member-head">
          <div class="p-group-detail-member-usericon">
            <img src="/images/shared/img-defalt-user.png" th:src="@{/images/shared/img-defalt-user.png}" class="p-event-attendee-image" alt="">
          </div>
          <p class="p-group-detail-member-name" th:text="${member.name}"></p>
        </div>
      </li>
    </ul>
  </section>
  
  <div class="p-group-detail-entry">
    <div th:if="${isAdmin}">
      <!-- グループ管理者の場合はグループに参加済み -->
      <button type="button" class="c-btn-submit p-group-detail-submit u-mb-0" disabled>参加済み</button>
    </div>
    <!-- グループ管理者以外の場合 -->
    <div th:if="${!isAdmin}">
      <div th:if="${isMember}">
        <!-- グループに参加済みの場合は脱退するボタンを表示 -->
        <button type="button" class="c-btn-submit p-group-detail-submit u-mb-0 convert" data-method="delete" href="/groups/1/leave" th:href="@{'/groups/{id}/leave'(id=${form.id})}" th:data-_csrf="${_csrf.token}">脱退する</button>
      </div>
      <div th:if="${!isMember}">
        <!-- グループに参加していない場合は参加するボタンを表示 -->
        <button type="button" class="c-btn-submit p-group-detail-submit u-mb-0 convert" data-method="post" href="/groups/1/join" th:href="@{'/groups/{id}/join'(id=${form.id})}" th:data-_csrf="${_csrf.token}">参加する</button>
      </div>
    </div>
  </div>

</div>
</body>
</html>