<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<link rel="stylesheet" href="/css/page/group-member.css" th:href="@{/css/page/group-member.css}">
<title th:text="#{groups.member.title}">つながるーム</title>
</head>
<body>

<div class="p-group-member-container" layout:fragment="contents">
  
  <h1 class="c-hdg1" th:text="#{groups.member.h1}">マイグループ</h1>
  
  <nav class="c-group-nav">
    <a th:href="@{/groups}" class="c-group-nav-menu" th:text="#{common.groups.admin}">グループ管理者</a>
    <a class="c-group-nav-menu on" th:text="#{common.groups.user}">グループ参加中</a>
  </nav>
  
  <div class="p-group-member-list">
    <div class="p-group-member-item" th:each="group : ${list}">
      <a th:href="@{/groups/{id}(id=${group.id})}" class="p-group-member-link">
        <div class="p-group-member-image">
          <img src="/images/shared/img-defalt-user.png" th:src="@{/images/shared/img-defalt-user.png}" class="p-group-member-thumb" alt="">
        </div>
        <div class="p-group-member-name" th:text="${group.name}"></div>
      </a>
    </div>
  </div>

</div>
</body>
</html>



