<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title th:text="#{groups.new.title}">つながるーム</title>
</head>
<body>
<div class="p-login-box" layout:fragment="contents">

  <h1 class="c-hdg1" th:text="#{groups.new.h1}">グループ作成</h1>
  
  <form method="post" th:action="@{/group}" th:object="${form}">
    <div layout:replace="~{layouts/common::messages}"></div>
    <input type="hidden" th:field="*{id}" />
    <div class="c-form p-new-form">
      <div class="c-form-item">
        <div class="c-form-label-box">
          <label for="group-name" class="c-form-label" th:text="#{groups.new.name}">グループ名</label>
        </div>
        <div class="c-form-input-wrap">
          <div class="c-form-input-box">
            <input id="group-name" type="text" class="c-form-input" th:field="*{name}" />
          </div>
        </div>
        <p th:if="${#fields.hasErrors('name')}" class="c-form-error" th:errors="*{name}"></p>
      </div>
      <div class="c-form-item">
        <div class="c-form-label-box">
          <label for="group-description" class="c-form-label" th:text="#{groups.new.description}">グループの説明</label>
        </div>
        <div class="c-form-textarea-wrap">
          <div class="c-form-textarea-box">
            <textarea id="group-description" class="c-form-textarea" th:field="*{description}"></textarea>
          </div>
        </div>
        <p th:if="${#fields.hasErrors('description')}" class="c-form-error" th:errors="*{description}"></p>
      </div>
    </div>
    <button type="submit" class="c-btn-submit" th:text="#{groups.new.submit}">作成する</button>
  </form>

</div>
</body>
</html>