<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title>つながルーム</title>
</head>
<body>
<div class="p-new-box" layout:fragment="contents">

  <h1 class="c-hdg1" th:text="#{comments.new.h1}">コメント作成</h1>
  
  <form method="post" th:action="@{/events/__${form.eventId}__/comment}" th:object="${form}">
    <div layout:replace="~{layouts/common::messages}"></div>
    <div class="c-form p-new-form">
      <div class="c-form-item">
        <div class="c-form-label-box">
          <label for="comment-description" class="c-form-label" th:text="#{comments.new.description}">コメント</label>
        </div>
        <div class="c-form-textarea-wrap">
          <div class="c-form-textarea-box">
            <textarea id="comment-description" class="c-form-textarea" th:field="*{description}" th:errorclass="error-field"></textarea>
          </div>
        </div>
        <p th:if="${#fields.hasErrors('description')}" class="c-form-error" th:errors="*{description}"></p>
      </div>
    </div>
    <button type="submit" class="c-btn-submit" th:text="#{comments.new.submit}">作成する</button>
  </form>

</div>
</body>
</html>